# Fichiers de compilation (très lourds, ralentissent GitHub)
build/
.dart_tool/
.packages
.pub-cache/
.pub/

# Sécurité : On ignore les fichiers de configuration Android spécifiques
# C'est ici que pourraient se trouver des clés de signature sensibles
android/local.properties
android/key.properties
android/app/*.jks
android/app/*.keystore

# On ignore les fichiers de l'émulateur (puisque tu n'en as plus besoin !)
*.axd
*.pcap
*.avd/

# Fichiers système invisibles
.DS_Store
Thumbs.db